@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    font-size:medium;
    max-width: 1400px;
}
html{
    cursor: default;
    padding: 0% 2%;
}

body{
  margin-top: 0px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

i{
    color: #0065fc;
}

.bg-grey{
    background-color: #d9d9d9;
}
.bg-lightgrey{
  background-color: #f2f2f2;
}

.bg-blue{
    background-color: #0065fc;
}
.bg-lightblue{
    background-color: #deebff;
}

.color-grey{
  color: #d9d9d9;
}
.color-blue{
    color: #0065fc;

}
.color-black{
    color: black;
}

.color-white{
    color: white;
}
.bold{
    font-weight: bold;
}
.smaller{
    font-weight: smaller;
}


 /*HEADER*/

.top-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.top-header img{
    width: 60px;
    object-fit: contain;
}


.top-header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
}

.top-header ul li{
    text-decoration: none;
    border-top: 2px solid white;
    margin-left: 50px ;

}

.top-header img, .top-header ul li{
  padding-top: 20px;
}

.top-header ul li:hover{
  cursor: pointer;
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
 /*SECTION SEARCH AND FILTERS*/
.search-bar{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.fa-location-dot, .search-bar input, .search-bar button{
  padding: 15px;
}

.fa-location-dot{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid #d9d9d9;
   
}

.search-bar input{
  border-left: none;
  border-right: none;
  border-top: 1px solid#d9d9d9;
  border-bottom: 1px solid#d9d9d9;
  outline: none;
}

input::placeholder {
  color: black;
}


.search-bar button{
    padding:15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    right: 5px;
    border-left: none;
    border: 1px solid #0065fc;
}

.search-bar button i {
  padding: 0px;
  display: none; 
}

.search-bar button:hover{
    cursor: pointer;
}

.filter-section{
    display: flex;
    align-items: center;
}
.filter-section h3{
  margin-right: 2%;
}
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4%;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    padding:12px;
}
.tags-icon{
    margin-right: 10px;
}

.tags p{
    font-weight: 600;
    margin: 0px;
    font-size: small;
}

.tags:hover{
    background-color: #deebff;
    cursor: pointer;
}

.info{
    margin: 25px 0px; 
}

.info i{
    border-radius: 50%;
    padding: 10px 8px;
    border: 1px solid black;
}
.info p {
    display: inline;  
}


 /*SECTION LOCATIONS GRID*/

  .all-locations, .best-locations, .all-locations-card, .best-locations-card, .activity{
    border-radius: 15px;
  }

  .all-locations-card, .best-locations-card, .activity{
    box-shadow: 6px 6px 25px rgba(100, 100, 100, 0.2); 
  }
  .all-locations-card, .best-locations-card{
    padding:5px;
  }
  .all-locations{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  
  .all-locations, .best-locations{
    padding: 2%;
  }
  .locations-grid{
    display: flex;
    gap: 15px;
  }
  .all-locations-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .all-locations-card{
    width: 30%;
    flex-grow: 1;
    padding-bottom: 0px;
  }
  .all-locations-grid .img-card{
    width: 100%;
  }
  .all-locations-card img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
  }
  
  .best-locations{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .best-locations-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .best-locations-grid{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .best-locations-card{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .best-locations-grid .img-card{
    width: 35%;
  }
  .best-locations-card img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2/2;
    object-fit: cover;
    border-bottom-left-radius:12px;
    border-top-left-radius:12px;
  }
  .best-locations-car-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-text, .ratings{
    padding-left: 10px;
  }
  .card-text p{
    margin: 5px 0px;
  }
  .hotel-name{
    font-size: 14px;
    font-weight: bold;
  }

  .tarif{
    font-size: 12px;
  }
  
  

 /* SECTION ACTIVITES*/

  .activities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 35px;
    margin: 2% 0%;
  }

  .activity{
    border-radius: 20px;
  }

  .activity img{
    width: 100%;
    aspect-ratio: 3/3.5;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  .activity p{
    font-weight: bold;
    font-size: 14px;
    margin: 2%;
    padding: 2% 4%;
  }

   /*FOOTER*/

  footer{
    display: flex;
    justify-content: space-around;
    padding: 4%;
  }

  .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .section-title{
    font-weight: bold;

  }
  .footer-section p{
    font-size:smaller;
  }

   /* MEDIA QUERIES*/
  
  @media screen and (max-width:1023px){
    .locations-grid{
      flex-direction: column;
    }
    .all-locations, .best-locations{
      width: initial;
    }
    .best-locations-grid{
      flex-direction: row;
    }
    
  }

  @media screen and (max-width:760px){
    html, body{
      margin: 0%;
      padding: 0%;
    }

    .search-and-filter, .all-locations, .best-locations, .all-activities, footer{
      padding:4%
    }
    
    .top-header{
        display: initial;
        margin-top: 4%;
    }
    #logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-header img{
        margin: 20px 0px; 
    }
    .top-header ul{
        width: 100%;
  
        justify-content: stretch;
    }
    #hebergements-li{
      padding: 4% 6%;
    }

    #activites-li{
      padding: 4% 10%;
    }

    #activites-li, #hebergements-li{
      border-bottom: 2px solid #f2f2f2;
      flex-grow: 1;
      text-align: center; 
    }
    .top-header ul li{
        margin: 0px;
        padding: 0%;
    }
    #hebergements-li:hover{
      border-top: 2px solid white;
      border-bottom:2px solid #0065fc;
    }
    #activites-li:hover{
      border-top: 2px solid white;
      border-bottom:2px solid #0065fc;
    }
    #hebergements-li:hover a{
      color: #0065fc;
    }
    #activites-li:hover a{
      color: #0065fc;
    }

    .search-bar{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      height: 40px;
    }
    .search-bar{
      height: 45px;
    }

    .fa-location-dot, .search-bar input, .search-bar button{
      padding: 20px;
    }
    
    .fa-location-dot{
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    .search-bar form {
      display: flex;
      flex-grow: 1; 
      height: 100%;
    }
    .search-bar input{
      
      flex-grow: 1;
      border-left: none;
      border-right: none;
    }
    .search-bar button{
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    
    .search-bar button, .fa-location-dot{
      padding: 13px;
    }
    button span{
      display: none;
    }
    .search-bar button i{
      display: initial;
    }
   
    .filter-section{
        flex-direction: column;
        align-items: initial;
      }
      
      .filters{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        justify-content: center;
        align-items: center;
      }
      .tags{
        justify-content: center;
      }
      .info p {
        font-size: small;
      }
      .locations-grid{
        flex-direction: column-reverse;
      }
      .all-locations, .best-locations{
        border-radius: initial; 
      }
      .all-locations{
        background-color: white;
      }
      .all-locations-grid{
      flex-direction: column;
  
    }
      .all-locations-card, .best-locations-card{
        width:initial;
      }
      .all-locations-card img{
        aspect-ratio: 16/6;
      }
      .best-locations-grid{
        flex-direction:column ;
      }
      
    .activities{
        display: flex;
        flex-direction: column;
    }
    .activities img{
        aspect-ratio: 16/9;
    }

    footer{
        flex-direction: column;

    }
  }
