@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    font-size:medium;
    max-width: 1400px;
}
html{
    cursor: default;
    padding: 0% 2%;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

i{
    color: #0065fc;
}

.bg-grey{
    background-color: #d9d9d9;
}

.bg-blue{
    background-color: #0065fc;
}
.bg-lightblue{
    background-color: #deebff;
}

.color-blue{
    color: #0065fc;

}
.color-black{
    color: black;
}

.color-white{
    color: white;
}
.bold{
    font-weight: bold;
}
.smaller{
    font-weight: smaller;
}


 /*HEADER*/

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header img{
    width: 60px;
    object-fit: contain;
}


.top-header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0%;
}

.top-header ul li{
    text-decoration: none;
    border-top: 2px solid white;
    margin-left: 30px ;

}

.top-header ul li:hover{
    border-top: 2px solid #0065fc;
    cursor: pointer;
}

 /*SECTION SEARCH AND FILTERS*/
.search-bar i, .search-bar input, .search-bar button{
  border: none;
}

.search-bar{
    display: flex;
    align-items: center;
    margin: 30px 0px;

}

.search-bar i{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}
.search-bar input{
  padding: 4px; 
  border-left: none;
}

.search-bar input:active{
  border:none; 
}
.search-bar button{
    padding:15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    right: 5px;
    border-left: none;
}
.search-bar button p{
  margin: 0px;
}
.search-bar button i {
  padding: 0px;
  display: none; 
}

.search-bar button:hover{
    cursor: pointer;
}

.filter-section{
    display: flex;
    align-items: center;
}
.filter-section h3{
  margin-right: 2%;
}
.filters{
  display: flex;
  align-items: center;
}
.tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4%;
    border: 1px solid black;
    border-radius: 40px;
    padding:10px;
}
.tags-icon{
    margin-right: 10px;
}

.tags p{
    font-weight: 600;
    margin: 0px;
    font-size: small;
}

.tags:hover{
    background-color: #deebff;
    cursor: pointer;
}

.info{
    margin: 25px 0px; 
}

.info i{
    border-radius: 50%;
    padding: 10px 8px;
    border: 1px solid black;
}
.info p {
    display: inline;  
}


 /*SECTION LOCATIONS GRID*/

.locations-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }
  
  .locations-grid p{
    margin: 1px;
  }
  .all-locations, .best-locations, .all-locations-card, .best-locations-card{
    border-radius: 15px;
  }
  
  .all-locations, .best-locations{
    padding: 2% 4%;
  }
  
  .all-locations-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .all-locations-card{
    padding: 2%;
    background-color: white;
  }
  
  .all-locations-card .card-img{
    width: 100%;
  }
  .all-locations-card img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .best-locations-header{
    display: flex;
    justify-content: space-between;
    margin-top: 18.72px;
  }
  .best-locations-header h3{
    margin-top: 0px;
  }
  
  .best-locations-grid{
    height: 80%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
  }
  
  
  .best-locations-card{
    height:120px;
    display: flex;
    padding: 1%;
    gap: 15px;
    background-color: white;
  }
  .best-locations-card .card-img{
    width: 100px;
  }
  
  .best-locations-card img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
  }
  .best-locations-car-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tarif{
    font-size: small;
    margin: 2px 1px;
  }
  .hotel-name{
    font-size: 14px;
    font-weight: bold;
  }


 /* SECTION ACTIVITES*/

  .activities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 35px;
    margin: 2% 0%; 
  }

  .activity img{
    width: 100%;
    aspect-ratio: 3/3.5;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  .activity p{
    padding: 4%;
    margin-left: 10px;
    font-weight: bold;
  }

   /*FOOTER*/

  footer{
    display: flex;
    justify-content: space-around;
    padding: 4%;
  }

  .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  .section-title{
    font-weight: bold;

  }
  .footer-section p{
    font-size:smaller;
  }

   /* MEDIA QUERIES*/
  
  @media screen and (max-width:768px){
    .locations-grid{
        grid-template-columns: 1fr;
      }
        .best-locations-grid{
          display: flex;
          flex-direction: row;
        }
        .best-locations-card{
          padding: 0.5%;
        }
        .all-locations-card{
          padding: 1.5%;
        }
  }

  @media screen and (max-width:678px){
    .top-header{
        flex-direction: column;
    }
    .top-header img{
        margin: 10px 0px
    }
    .top-header ul{
        width: 100%;
    }
    .top-header ul li{
        margin: 0px;
    }
    .search-bar i, .search-bar button{
      padding: 15px;
    }
    .search-bar button p {
      display: none;
    }
    .search-bar button i{
      display: initial;
    }
   
    .filter-section{
        flex-direction: column;
        align-items: initial;
      }
      .search-bar{
        justify-content: center;
      }
      .filters{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        justify-content: center;
        align-items: center;
      }
      .tags{
        justify-content: center;
      }
      .locations-grid{
        display: flex;
        flex-direction: column-reverse;
      }

    .all-locations-grid, .best-locations-grid{
      display: flex;
      flex-direction: column;
      align-items: initial;
    }
      .all-locations-card{
      padding: 1%;
    }
    .all-locations-card img{
      aspect-ratio: 16/6;
    }
    .best-locations-card{
      padding: 1%;
    }
    .activities{
        display: flex;
        flex-direction: column;
    }
    .activities img{
        aspect-ratio: 16/9;
    }

    footer{
        flex-direction: column;

    }
  }
